* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-lite-grey: #F7F7F9;
    --color-button: #F4F4F4;
    --color-white: #FFFFFF;
    --color-red: #CD0000;
    --color-green: #73DB43;
    --color-orange: #EBB428;
    --color-black: #000;
    --sizeindex: calc(1vw + 1vh);
}

/* glob */
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

/* main */
#map {
    width: 300px;
    height: 300px;
}

.aside-left {
    grid-area: aside-left;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.main-footer {
    grid-area: main-footer;
}

.body-main {
    outline: 1px solid red;
    display: grid;
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--color-white);
    grid-template-columns: 15.6% 84.4%;
    grid-template-areas: "aside-left header "
        "aside-left main "
        "aside-left main-footer ";
    font-family: 'Montserrat', sans-serif;
}


.aside-left {
    padding: 28px 0px 0px 0px;
    background-color: #F7F7F9;
}

.aside-left__logo {
    outline: 1px solid red;
    margin-bottom: 5vh;

}

.aside-left__logo__img {
    max-width: 100%;
}

.navbar {
    margin-bottom: 39vh;
}

.navbar__list {
    padding: .7vh 2vw;
    margin-bottom: 0vh;
}

.navbar__list__href {
    font-weight: 600;
    font-size: calc(var(--sizeindex) * 0.8);
    line-height: 20px;
    color: var(--color-black);
}

.navbar__list__item:not(:last-child) {
    margin-bottom: 3.7vh;
}

.aside-left__social {
    outline: 1px solid blue;
    text-align: center;
    padding: 0 3.4vw 0 1.6vw;
}

.aside-left__social__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;

}

.aside-left__social__list__href svg {
    max-width: 100%;
}

/* header */

.header .container {
    outline: 1px solid blue;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 16.8vw 21vw;
    padding: 27px 42px;
}

.header__descr,
.header__number {
    display: grid;
    outline: 1px solid red;
}

.header__descr,
.sign {
    font-weight: 400;
    font-size: calc(var(--sizeindex) * .68);
    line-height: 17px;
    color: var(--color-black);
}

.header__descr {
    padding: 6px 2px;
}

.header__number {
    text-align: right;
    padding: 0;
}

.tel {
    font-weight: 700;
    font-size: calc(var(--sizeindex) * 1.1);
    line-height: 27px;
    color: var(--color-red);
}

.main-promo {
    background-image: url('../img/promo_fon_1280.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 63px 13.5% 151px 13.5%;

}

.main-promo-wrapper {
    padding: 0;
}

.main-promo__header {
    font-weight: 600;
    font-size: calc(var(--sizeindex) * 1.95);
    line-height: 51px;
    color: var(--color-white);
    text-align: center;
    padding: 0;
    letter-spacing: 2px;
}

.main-search {
    position: relative;
    box-shadow: 0px 9px 34px rgba(58, 68, 83, 0.24);
    border-radius: 6px;
    width: 92.5%;
    margin: 0 auto;
    z-index: 1;
    margin-top: -104px;
    padding: 22px 27px;
    background-color: var(--color-white);
    margin-bottom: 35px;
}

.main-search__form__top {
    display: flex;
    flex-direction: row;
    margin-bottom: 4.5vh;
}

#checkboxOne,
#checkboxTwo {
    display: none;
}

.check-span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: var(--color-red);
}

.check-span::before {
    content: url('../img/check.png');
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.main-search__form__top__checkOne:checked+.check-span::before,
.main-search__form__top__checkTwo:checked+.check-span::before {
    opacity: 1;
}

label {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .68);
    line-height: 120%;
    margin-right: 5.3%;
}

.main-search__form__center {
    display: grid;
    grid-template-columns: 25% 20% 20% 21.5% 8.5%;
    justify-content: space-between;
    gap: 13px;
    padding: 8px 0;
    margin-bottom: 1.5vh;
}

.main-search__form__center__type,
.main-search__form__center__maker,
.main-search__form__center__stamp,
.main-search__form__center__year,
.main-search__form__center__type label,
.main-search__form__center__maker label,
.main-search__form__center__stamp label,
.main-search__form__center__year label {
    display: grid;
    font-weight: 400;
    font-size: calc(var(--sizeindex) * .62);
    line-height: 0px;
}

.main-search__form__center__type label,
.main-search__form__center__maker label,
.main-search__form__center__stamp label,
.main-search__form__center__year label {
    margin-bottom: 0px;
    position: absolute;
    top: 35%;
}

.main-search__form__center__year-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.choices {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    font-size: 16px;
}

.main-search__form__center__year__label {
    /* margin-bottom: -3vh; */
}

.choices__inner {
    min-height: 35px;
    max-height: 40px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: rgb(249, 249, 249);
    padding: 13.5px 2px 0px 2px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2.5px;
    font-size: calc(var(--sizeindex) * 0.6);
    overflow: hidden;
}


.choices__list--single {
    display: inline-block;
    padding: 5px 16px 4px 15px;
    width: 100%;
}

.choices[data-type*=select-one]::after {
    content: url('../img/down_line.png');
    height: 0;
    width: 0;
    border-style: none;
    position: absolute;
    right: 32px;
    top: 25%;
    margin-top: 0;
    pointer-events: none;
}

.main-search__form__center__year label {
    margin-bottom: 0vh;
}

.main-search__form__center__type select {
    position: relative;
}

.main-search__form__bottom {
    display: grid;
    grid-template-columns: 25% 21%;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.main-search__button {
    background-color: var(--color-red);
    color: var(--color-white);
    border-radius: 4px;
    border: none;
    font-size: calc(var(--sizeindex) *0.6);
}

.main-search__form__bottom__res {
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--sizeindex) * 0.63);
    line-height: 16px;
    color: #808080;
}

.main-search__form__bottom__res__href {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * 0.63);
    line-height: 16px;
    color: var(--color-red);
    position: relative;
}

.main-search__form__bottom__button {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * 0.63);
    line-height: 16px;
    color: var(--color-red);
    border: 1px solid #CACACA;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: var(--color-white);
}

.main-popularCars {
    padding: 0 3vw;

}

.main-popularCars__header {
    font-weight: 700;
    font-size: calc(var(--sizeindex) * 1.1);
    line-height: 29px;
    margin-bottom: 1.55vh;
}

.main-popularCars__var {
    padding: 0 2vw;
}

.main-popularCars__var input[type='radio'] {
    display: none;
    margin-right: 20px;
}

.main-popularCars__var label {
    position: relative;
}

.main-popularCars__var label::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: -25px;
    bottom: 0;
    background-image: url('../img/radio1.png');
}

.main-popularCars__var__var1 {
    display: block;
}

.main-popularCars__avto {
    border: 1px solid #E2E2E2;
    border-radius: 4px;
}

.avto1,
.avto2,
.avto3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 16px;
}


.main-popularCars__avto__desr__name {
    font-weight: 800;
    font-size: calc(var(--sizeindex) * 1.05);
    line-height: 27px;
}

.main-popularCars__avto__desr__V,
.main-popularCars__avto__desr__year,
.main-popularCars__avto__desr__mileage,
.main-popularCars__avto__add__actuator,
.main-popularCars__avto__add__kpp,
.main-popularCars__avto__price__city {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .7);
    line-height: 17px;
    color: #8B8B8B;
}

.main-popularCars__avto__desr__V span,
.main-popularCars__avto__desr__year span,
.main-popularCars__avto__desr__mileage span,
.main-popularCars__avto__add__actuator span,
.main-popularCars__avto__add__kpp span,
.main-popularCars__avto__price__city span {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .7);
    line-height: 17px;
    color: #000000;
}

.main-popularCars__avto__price__rub {
    font-weight: 700;
    font-size: calc(var(--sizeindex) * .95);
    line-height: 24px;
    color: var(--color-black);
}

.main-popularCars__avto__price__button {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .6);
    line-height: 16px;
    color: var(--color-white);
    border-radius: 35px;
    border-color: transparent;
    padding: 4px 10px;
}

.avto1 .main-popularCars__avto__price__button,
.avto3 .main-popularCars__avto__price__button {
    background-color: var(--color-green);
}

.avto2 .main-popularCars__avto__price__button {
    background-color: var(--color-orange);
}

.main-advantages {
    padding: 0 3vw;
}

.main-advantages__headers {
    text-align: center;
}

.main-advantages-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.main-advantages__cards__descr {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .6);
    line-height: 15px;
    color: #8B8B8B;
}

.main-feedback {
    padding: 0 3vw;
}

.main-feedback__header {
    text-align: center;
}

.main-feedback__articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.main-feedback__article__video {
    width: 100%;
}

.button {
    width: 100%;
    align-items: center;
    padding: 13px 0;
    font-size: calc(var(--sizeindex) * .6);
    line-height: 16px;
    color: #2C2C2C;
    background-color: #F4F4F4;
    border-radius: 4px;
    border-color: transparent;
}

.main-purchase-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main-purchase {
    padding: 0 3vw;
}

.main-purchase__left {
    background-image: url('../img/purchase_1280_big.png');
}

.main-purchase__right__articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 56px;
}

.main-purchase__right__articles__article__header {
    font-weight: 700;
    font-size: calc(var(--sizeindex) * .8);
    line-height: 20px;
    color: var(--color-black);
}

.main-purchase__right__articles__article__descr {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .55);
    line-height: 15px;
    color: #8B8B8B;
}

.main-purchase__right__articles__article:last-child {
    padding: 40% 40%;
}

.main-reviews {
    padding: 0 3vw;
}

.main-reviews__articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-contacts__header,
.main-contacts__address,
.main-contacts__tel {
    padding: 0 3vw;
}

.main-reviews__articles__article__header {
    font-weight: 700;
    font-size: calc(var(--sizeindex) * .8);
    line-height: 20px;
}

.main-reviews__articles__article__descr {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .6);
    line-height: 15px;
    color: #8B8B8B;
}

.main-reviews__articles__article__descr span:not(:last-child) {
    margin-right: .5vw;
}

.main-contacts__address {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .85);
    line-height: 170%;
    color: #323232;
}

.main-contacts__tel {
    display: grid;
    grid-template-columns: 1.9fr 1fr 1fr;
    gap: 60px;
}

.main-contacts__tel__article__href {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .68);
    line-height: 190%;
    color: var(--color-red);
}

.main-contacts__tel__article__descr {
    font-weight: 500;
    font-size: calc(var(--sizeindex) * .68);
line-height: 190%;
color: #8B8B8B;
display: inline;
}

.whatsup {
font-weight: 500;
font-size: calc(var(--sizeindex) * .68);
line-height: 190%;
color: #8B8B8B;
}